<!DOCTYPE html>
<html>

<head> 
    <meta charset="utf-8">
    <title>求助详情</title> 
    <link rel="stylesheet" type="text/css" href="/../../static/css/task_detail.css">
</head>

<body>
    <div class="header">
        <h1>Dark Forest</h1>
        <h3>个人中心</h3>
        <p>我接受的求助</p>
    </div>

    <div class="topnav">
        <a href={% url 'task_square' %} style="margin-left: 100px;">物资求助</a>
        <a href={% url 'up0' %}>我要求助</a>
        <a href={% url 'edit' %} class="active">个人中心</a>
        <a href="#" style="float:right; margin-right: 100px;"><img src="..\..\static\image\user_center.png" width="35px"
                height="35px"></a>

    </div>

    <div class="row">
        <div class="leftcolumn">

            <img src="/../../static/image/details.png" alt="details button">
            <div>
                <a class="back" href={% url 'all_task_received' %}>返回</a>
            </div>
        </div>

        <div class="rightcolumn">
            <div class="card">
                <h2>求助名</h2>
                <hr>
                <p>{{ task.task_name }}</p>
            </div>
            <div class="card">
                <h2>求助简介</h2>
                <hr>
                <p>{{ task.task_sketch }}</p>
            </div>
            <div class="card">
                <h2>求助者</h2>
                <hr>
                <p><a style="text-decoration: none;" href={% url  'publisher_detail' task.publisher_id %}>{{ task.publisher.username }}</a>
                </p>
            </div>
            <div class="card">
                <h2>联系方式</h2>
                <hr>
                <p>{{ task.contactpublisher }}{{ contact }}</p>
            </div>
            <div class="card">
                <h2>撤销记录</h2>
                <hr>
                {% if task.revoked_tasks.all.exists %}
                {% for reason in task.revoked_tasks.all %}
                <p>匿名用户：{{ reason.revoke_reason }}</p>
                {% endfor %}
                {% else %}
                暂无撤销记录
                {% endif %}
            </div>

            <div class="card">
                <h2>求助状态</h2>
                <hr>

                {% if task.is_finished == False %}
                <form action="{% url 'reasons_revoke' task.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="button" value="撤销求助" />
                </form>

                <form action="{% url 'task_finished' task.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="button" value="完成求助" />
                </form>
                {% else %}
                该求助已完成<br>
                {% endif %}

            </div>
        </div>
    </div>
    <div class="footer">
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
</body>

</html>