<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>求助详情</title> 
    <link rel="stylesheet" type="text/css" href="/../../static/css/detail.css">
</head>
<body>
<div class="header">
    <h1>Dark Forest</h1>
    <h3>求助详情</h3>
</div>

<div class="topnav">
    <a href={% url 'task_square' %} class="active" style="margin-left: 100px;">物资求助</a>
    <a href={% url 'up0' %}>我要求助</a>
    <a href={% url 'edit' %}>个人中心</a>
    <a href="#" style="float:right"><img src="/../../static/image/user_center.png" width="35px" height="35px"
                                         alt="user center"></a>

</div>
<div class="row">
    <div class="leftcolumn">
        <img src="/../../static/image/details.png" alt="details button">
    </div>
    <div class="rightcolumn">
        <div class="card">
            <h1>{{ task.task_name }}</h1>
        </div>
        <div class="card">
            <h2>求助者</h2>
            <hr>
            <div style="text-align:center;"><a href={% url 'publisher_detail' task.publisher_id %}><img
                    src="/../../static/uploads/{{ task.publisher.icon }}"
                    width="25%" height="10%"></a></div>
            <br/>
            <div style="text-align:center;"><a style="text-decoration: none;color:black"
                                               href={% url 'publisher_detail' task.publisher_id %}>{{ task.publisher.username }}</a><br>
            </div>
        </div>
        <div class="card">
            <h2>求助简介
                <hr>
            </h2>
            {{ task.task_sketch }}<br></div>
        <div class="card">
            <h2>求助附件
                <hr>
            </h2>
            {% if task.task_file %}
                <div class="button"><a href="{% url 'download' task.id %}" rel="external nofollow">点我下载</a><br>
                </div>
            {% else %}
                该求助无附件
            {% endif %}
        </div>
        <div class="card">
            <h2>求助酬劳
                <hr>
            </h2>
            ¥{{ task.task_reward }}<br></div>
        <div class="card">
            <h2>截止时间
                <hr>
            </h2>
            {{ task.task_time }}<br></div>
        <div class="card"><b>撤销记录：</b><br>
            {% if task.revoked_tasks.all.exists %}
                {% for reason in task.revoked_tasks.all %}
                    匿名用户：{{ reason.revoke_reason }}<br>
                {% endfor %}
            {% else %}
                暂无撤销记录
            {% endif %}
        </div>
        <br/>
        <br/>
        <div style="text-align:center">
            {% if user_id %}
                <form action="{% url 'check_hunt' task.id %}" method="post">
                    {% csrf_token %}
                    <input class="button" type="submit" value="接受求助"/>
                </form>
                </div>

            {% else %}
                <a class="button" href={% url 'login' %}>请先登录！</a>
            {% endif %}
    </div>
    </div>
</div>
<div class="footer">
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>

</body>
</html>